@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>
<head>
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        /* Estilos personalizados */
        body {
            background-color: #f8f9fa;
            font-family: Arial, sans-serif;
        }
        .hero-section {
            padding: 100px 0;
            text-align: center;
        }
        .hero-title {
            font-size: 3rem;
            color: #007bff;
        }
        .hero-link {
            margin-top: 20px;
        }
        .hero-link a {
            text-decoration: none;
            padding: 10px 20px;
            background-color: #007bff;
            color: #fff;
            border-radius: 5px;
            transition: background-color 0.3s ease;
        }
        .hero-link a:hover {
            background-color: #0056b3;
        }
    </style>
</head>
<body>
    <section class="hero-section">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1 class="hero-title">Welcome</h1>
                    <div class="hero-link">
                        <a href="https://localhost:7030/Home/Privacy">Private Page</a>
                    </div>
                    <div class="hero-link">
                        <a href="https://localhost:7030/account/google-login">Google Auth</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>
</html>

